{% extends "App/main_template.html" %}

{% load static %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h4>
                    Resultado para -> <b>{{num_curso}}</b>
                </h4>
                {% if curso %}
                    <ul class="list-group">
                        {% for curso_resp in curso %}
                            <li class="list-group-item list-group-item-secondary">{{curso_resp.nombre}} - {{curso_resp.numero_curso}}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="text-danger"><b>Búsqueda sin resultado</b></div>
                {% endif %}
                <a href="{% url 'Cursos' %}" class="btn btn-primary my-2" role="button">Volver a Cursos</a>
                <br>
                <a href="{% url 'CursoBusqueda' %}" class="btn btn-primary my-2" role="button">Volver a Buscar</a>
            </div>
        </div>
    </div>
{% endblock %}
