{% extends "App/main_template.html" %}

{% load static %}

{% block mainContent %}
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">P&aacute;gina Principal del Proyecto</h1>
                    <p class="fs-4">Este sitio fue desarrollado para mostrar el desarrollo del proyecto para Coderhouse</p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}